{% extends 'photos/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-3"></div>
		
		<!-- LoginForm Section -->
		<div class="col-md-6 signup">
				{% if form.errors %}
			       <p>
			         Your username and password didn't match. Please try again.
			       </p>
			     {% else %}
			       <p>Please, use the following form to log-in:</p>
			     {% endif %}

			    <h3>Log-in</h3>
			    <p class="text-muted">Login with your email or username</p>
			     <form method="post" action="{% url 'login' %}">
			       <div class="form-group">
			       	{{ form | crispy }}
			       	{% csrf_token %}
			       </div>
			       	<input type="hidden" name="next" value="{{ next }}" />
         			<p><input type="submit" class="btn btn-success btn-sm m-1" value="Log in"></p>

			       <small class="text-muted">Need an account? <a href="{% url 'register' %}">Sign up here</a></small>
			       <p>
			       		<small class="text-muted">
			       			<a href="{% url "password_reset" %}">Forgotten your password?</a>
			       		</small>
			       	</p>
			     </form>
			</div>
			<div class="col-md-3"></div>
	</div>
</div>
{% endblock content %}